<div class="flex flex-col w-full gap-2 max-w-3xl mx-auto">
  <div class="relative w-full text-gray-950 font-semibold ">
    Context free grammar input:
  </div>
  <div class="flex border border-gray-700 rounded h-64">
    <div id="cfg-editor-line-numbers" class="bg-gray-700 text-gray-500 text-right p-2 w-10 select-none font-mono text-sm overflow-hidden">1</div>
    <div class="relative flex-1 h-full">
      <div class="relative w-full max-w-3xl mx-auto">
        <pre class="absolute inset-0 p-2 pr-4 overflow-hidden pointer-events-none text-sm font-mono whitespace-pre break-words text-gray-900"><code id="cfg-editor-highlighted"></code></pre>
        <label for="cfg-editor">
          <textarea id="cfg-editor" spellcheck="false" class="relative w-full h-62 p-2 pr-4 bg-transparent text-transparent caret-gray-950 resize-none outline-none overflow-auto whitespace-pre text-sm font-mono "></textarea>
        </label>
      </div>
    </div>
  </div>
  <div class="flex gap-2 mt-2">
    <button id="cfg-editor-button-insert-eps" class="px-5 py-2 bg-gray-700 hover:bg-gray-800 rounded text-white text-sm font-semibold min-w-[20%]">Insert ε</button>
    <button id="cfg-editor-button-copy-code" class="px-5 py-2 bg-gray-700 hover:bg-gray-800 rounded text-white text-sm font-semibold min-w-[20%]">Copy Code</button>
  </div>
</div>
