<footer class="border-t border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 py-6 flex flex-col sm:flex-row items-center justify-between text-sm text-gray-500 dark:text-gray-400">
    <p>
      © Whenever
      <span class="font-medium text-gray-700 dark:text-gray-300">ParsingToys</span>.
      No rights reserved.
    </p>
    <div class="mt-2 sm:mt-0 flex gap-4">
      <!--a href="/about.html" class="hover:text-blue-600">About</a-->
    </div>
  </div>
</footer>
<script type="module" src="/src/navbar.ts"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7XR2ZJPBG6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7XR2ZJPBG6');
</script>
