<div id="parse-tree-container" class="flex flex-col w-full gap-2 max-w-6xl mx-auto mt-4" hidden>
  <div class="relative w-full text-gray-950 font-semibold">
    Parse tree:
  </div>
  <div class="relative w-full aspect-[4/3] border border-gray-300 overflow-hidden">
    <svg id="parse-tree-svg" class="w-full h-full cursor-grab active:cursor-grabbing select-none"></svg>
  </div>
  <div class="flex w-full gap-2">
    <button id="parse-tree-download-svg" class="flex-1 py-2 bg-gray-700 hover:bg-gray-800 rounded text-white text-sm font-semibold">Download SVG</button>
    <button id="parse-tree-download-png" class="flex-1 py-2 bg-gray-700 hover:bg-gray-800 rounded text-white text-sm font-semibold">Download PNG</button>
  </div>
</div>
